[Unit]
Description=Launches all ROS stuff through screen
Requires=dbus.socket
After=multi-user.target

[Service]
User=robot
RemainAfterExit=yes
ExecStart=/home/robot/bringup.sh

[Install]
WantedBy=multi-user.target
