<?xml version="1.0"?>
<launch>

  <arg name="node_name"  default="urg_node"/>
  <arg name="ip_address"  default="192.168.0.10"/>
  <arg name="frame_id"  default="laser_link"/>
  <arg name="port" default=""/>
  <arg name="angle_min"  default="-2.35619"/> <!-- default 2.35619 -->
  <arg name="angle_max"  default="2.35619"/>

  <arg name="scan_topic"  default="scan"/>
  <arg name="intensity"  default="true"/>

  <include file="$(find robot_bringup)/launch/sensors/laser/include/hokuyo_urg.launch.xml">
    <arg name="ip_address" value="$(arg ip_address)"/>
    <arg name="node_name" value="$(arg node_name)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <param name="port" value="$(arg port)"/>
    <param name="angle_min" value="$(arg angle_min)"/>
    <param name="angle_max" value="$(arg angle_max)"/>
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <param name="intensity" value="$(arg intensity)"/>
   </include>


</launch>
