<!-- ComplementaryFilter launch file -->
<launch>

  #### Complementary filter

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
      <param name="publish_tf" value="false"/>
      <param name="publish_debug_topics" value="true"/>
      <param name="do_bias_estimation" value="true"/>
      <param name="gain_acc" value="0.01"/>
      <param name="do_adaptive_gain" value="true"/>
      <param name="bias_alpha " value="0.01"/>
      <param name="bias_angular_velocity_x_threshold " value="0.04"/>
      <param name="bias_angular_velocity_y_threshold " value="0.02"/>
      <param name="bias_angular_velocity_z_threshold " value="0.01"/>
      <param name="bias_angular_velocity_x_drift " value="0.02"/>
      <param name="bias_angular_velocity_y_drift " value="0.005"/>
      <param name="bias_angular_velocity_z_drift " value="0.005"/>
      <param name="bias_k_acceleration_threshold " value="0.2"/>
      <param name="bias_k_delta_angular_velocity_threshold " value="0.01"/>

  </node>



</launch>
