<?xml version="1.0"?>

<launch>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>

  <!-- IMU -->
  <arg name="imu_model" default="$(optenv ROBOT_IMU_MODEL pixhawk)"/>

  <group ns="$(arg id_robot)">

    <arg name="prefix" value="$(arg id_robot)_"/>

    <!-- GPS -->
    <include file="$(find robot_bringup)/launch/sensors/gps/gps_complete.launch">
      <arg name="id_robot" value="$(arg id_robot)"/>
    </include>

    <!-- IMU -->
    <include if="$(eval imu_model != 'none')" file="$(find robot_bringup)/launch/sensors/imu/$(arg imu_model).launch">
      <arg name="prefix" value="$(arg prefix)"/>
    </include>

    <!-- LASERS -->
    <include file="$(find robot_bringup)/launch/sensors/laser/laser_complete.launch">
      <arg name="id_robot" value="$(arg id_robot)"/>
    </include>

    <!-- CAMERAS -->
    <include file="$(find robot_bringup)/launch/sensors/camera/camera_complete.launch">
      <arg name="id_robot" value="$(arg id_robot)"/>
    </include>

  </group>



</launch>
