<?xml version="1.0"?>
<launch>
    <arg name="prefix" default="wsg50_"/>
	<arg name="gripper_ip" default="192.168.0.212"/>
	<arg name="gripper_port" default="1000"/>
	<arg name="control_gripper_by_signals" default="false"/>
	
    <group unless="$(arg control_gripper_by_signals)">

        <node name="wsg_50_driver"  pkg="wsg_50_driver" type="wsg_50_ip">
            <param name="prefix" type="string" value="$(arg prefix)"/>
            <param name="ip" type="string" value="$(arg gripper_ip)"/>
            <param name="port" type="int" value="$(arg gripper_port)"/>
            <remap from="~/joint_states" to="joint_states"/>
            <remap from="~/status" to="status"/>
        </node>

    </group>

	
</launch>
