<?xml version="1.0"?>

<launch>
	<arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="global_frame_id" default="$(arg id_robot)_map"/>
  <arg name="poi_marker_name" default="poi_interactive_marker"/>
  <arg name="poi_topic_marker_name" default="poi_interactive_marker"/>
  <arg name="init_pose_topic_name" default="initialpose"/>
  <arg name="goto_planner" default="move_base"/>


  <node name="$(arg poi_marker_name)" pkg="map_nav_manager" type="poi_marker.py">
  	<param name="frame_id" value="$(arg global_frame_id)"/>
  	<param name="init_pose_topic_name" value="$(arg init_pose_topic_name)"/>
  	<param name="goto_planner" value="$(arg goto_planner)"/>
  </node>

  <node name="$(arg poi_marker_name)_proxy" pkg="interactive_marker_proxy" args="topic_ns:=$(arg poi_topic_marker_name) target_frame:=/$(arg global_frame_id)" type="proxy"/>


</launch>
