<?xml version="1.0"?>
<launch>

  <!-- start sound node -->
  <node pkg="sound_play" type="soundplay_node.py" name="sound_play_node" output="screen"/>

  <!-- rosrun sound_play say.py 'Hello world' -->
  <node pkg="sound_play" type="say.py" name="sound_play_say" args="'SUMMIT X.L., READY'" output="screen"/>

</launch>
 
